body, html {
    margin: 0;
    padding: 0;
}

#nav {
    position: fixed;
}

.fixed-sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #F7E7DC;
    color: black;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}

.fixed-sidebar button {
    background: transparent;
    border: none;
    color: black;
    font-size: 12px;
    margin: 10px 0;
}

.sidebar-nav {
    position: fixed;
    top: 0;
    left: 60px;
    height: 100%;
    width: 250px;
    background-color: #FFF8F3;
    padding-top: 80px;
    padding-left: 15px;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

#sidebarContent {
    text-align: left;
}

.sidebar-nav.open {
    transform: translateX(0);
}

.sidebar-close-btn {
    top: 10px;
    right: 10px;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.navbar {
    z-index: 1051;
}

.nav-button {
    background-color: transparent;
    border: none;
    margin-top: 10%;
}

#title {
    background-color: transparent;
    border: none;
}

.main-content {
    background-color: #EEEEEE;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.myCanvasContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myCanvas {
    width: 50vw;
    height: 70vh;
    background-color: white;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

