div {
    display: block;
    unicode-bidi: isolate;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.shareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.shareContent {
    max-width: 560px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;

/*    y축 길이 넘어가면 스크롤 */
    overflow-y: auto;
    max-height: 70%;

}

/* 닫기 버튼 */
.shareHeader {
    box-sizing: inherit;
    padding: 16px 16px 8px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shareHeader .closeBtn {
    padding: 0;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 8px;
    display: block;
    right: 16px;
    top: 28px;
}

.closeBtn-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
}


/* 웹 게시 */
.shareTag {
    display: grid;
    justify-content: center;
    box-sizing: inherit;
    margin-top: 12px;
    border-bottom: 1px solid rgba(90, 101, 119, 0.15);
    text-align: center;
}

.shareTagBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    box-sizing: inherit;
    justify-content: center;
}

.itemBox {
    display: flex;
    width: 100%;
    box-sizing: inherit;
}

.tagItems {
    font-size: 16px;
    padding: 12px 16px;
    background-color: rgba(33, 175, 191, 0);
    border-bottom-style: solid;
    border-bottom-color: #FF9000;
    opacity: 1;
    flex: 0 1 auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tagItem {
    font: 500 0.875rem / 1.46 "Pretendard Variable", Figtree, "IBM Plex Sans JP", "Pretendard JP Variable";
    color: #FF9000;
}


.linkShareContainer .box {
    padding: 24px 32px 12px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.copyLinkContainer {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.linkBox {
    margin-right: 8px;
    flex: 1 1 0;
}

.link {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(90, 101, 118, 0.09);
    border: 1px solid rgba(90, 101, 119, 0.24);
    border-radius: 8px;
    padding: 0 16px;
}

.linkInput {
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    width: 100%;
    height: 100%;
    text-align: left;
    color: rgb(22, 24, 29);
    font: 400 0.875rem / 146% "Pretendard Variable", Figtree, "IBM Plex Sans JP", "Pretendard JP Variable";
}

.copyBox {
    width: 80px;
}

.copyButton {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: rgba(255, 255, 255, 0) solid 1px;
    text-align: center;
    border-radius: 8px;
    height: 40px;
    min-height: auto;
    font: 500 0.875rem / 146% "Pretendard Variable", Figtree, "IBM Plex Sans JP", "Pretendard JP Variable";
    background-color: #FF9000;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    cursor: pointer;
    border: none;
}

.copyButton:hover {
    background-color: rgba(255, 144, 0, 0.78);
}


.copyButtonText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    line-height: 1;
}

.iconBox {
    display: flex;
    justify-content: center;
}

.icon {
    background-size: contain;
    border-radius: 832.5px;
}

.kakao-icon {
    display: flex;
    border: none;
    background: white;

    img {
        width: 40px;
        height: 40px;
    }
}

.qr-icon {
    display: flex;
    border: none;
    background: white;

    img {
        width: 40px;
        height: 40px;
    }
}


/* 상세 옵션 */


.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(0%);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.visible {
    max-height: 1000px; /* 충분히 큰 값으로 설정하여 모든 내용이 표시될 수 있도록 합니다 */
    opacity: 1;
    transform: translateY(0%);
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in, transform 0.5s ease-in;
}

.OptionText {
    color: rgb(22, 24, 29);
    font: 400 0.875rem / 1.42 "Pretendard Variable", Figtree, "IBM Plex Sans JP", "Pretendard JP Variable";
}


.underLine {
    width: 100%;
    padding: 0 0 50px;
}

.underLine2 {
    width: 100%;
    margin: 20px 0;
    /*border-bottom: 1px solid rgba(90, 101, 119, 0.15);*/
}

/* QR 화면 */
#qrPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#qrPopupClose {
    margin-top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    bottom: 10px; /* Position it at the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#qrPopupClose svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    color: rgb(112, 121, 143);
}

#qrPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.mapContainer {
    text-align: center;
}

.linkShareContainer {
    background-color: #ffffff;
}

.linkShareContainer .box {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}


/* 댓글 */
.commentSection {
    padding: 16px;
    border-top: 1px solid rgba(90, 101, 119, 0.15);
    margin-top: 16px;

    /*    화면 넘어가면 스크롤 기능 */
    overflow-y: auto;
    max-height: 300px;
}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 15px;
}

.inputGroup {
    display: flex;
    align-items: center;
}

.inputGroup label {
    width: 25%;
    font-weight: bold;
    margin-bottom: 4px;
}

label .commentLabel {
    width: 10%;
}

.inputGroup input, .inputGroup textarea {
    padding: 8px;
    border: 1px solid rgba(90, 101, 119, 0.24);
    border-radius: 8px;
}

.inputComment {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#submitComment {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #FF9000;
    color: #fff;
    cursor: pointer;
}

#submitComment:hover {
    background-color: rgba(255, 144, 0, 0.78);
}

.commentDisplay {
    margin-top: 30px;

}

#comment {
    width: 100%;
    height: 20px;
}

#commentLabel {
    width: 10%;
}

.commentDisplay .comment {
    border-bottom: 1px solid rgba(90, 101, 119, 0.15);
    padding: 8px 0;
}

.commentDisplay .comment .nickname {
    font-weight: bold;
}

.commentDisplay .comment .timestamp {
    font-size: 0.875rem;
    color: rgba(90, 101, 119, 0.5);
}

.commentDisplay .comment .text {
    margin-top: 4px;
}

.dropdown-content {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 64%;
    right: 0; /* 버튼 오른쪽에 정렬 */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.active .dropdown-content {
    display: block; /* active 클래스가 있을 때 보이도록 */
}


.commentBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownBtn {
    display: flex;
    border: none;
    background: none;
}

.dropdownBtn svg {
    width: 40px;
    height: 40px;

}

.report-form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#report-form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* 비밀번호 삭제 입력 폼 */
#delete-password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#delete-password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#delete-password {
    margin-left: 10px;
}

.delete-form-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    h3{
        font-size: 23px;
        text-align: center;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        color: #333333;
        background: none;
        cursor: pointer;
    }

    label {
        font-size: 20px;
    }
}


.shareTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*#invitationImage {*/
/*    width: 80%;*/
/*}*/