<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>ImGreet</title>
  <link rel="stylesheet" th:href="@{/css/adminPage.css}" />
</head>
<body>
  <!-- Navigation -->
  <nav th:replace="~{navbar :: navbarFragment}"></nav>

  <!-- Main Content -->
  <div class="container">
    <nav class="sidebar">
      <ul>
        <li><a href="/adminPage/GreetReport" th:style="${current == 'Greet'} ? 'text-decoration: underline;'">신고 초대장 관리</a></li>
        <li><a href="/adminPage/TemplateReport" th:style="${current == 'Template'} ? 'text-decoration: underline;'">신고 템플릿 관리</a></li>
        <li><a href="/adminPage/CommentReport" th:style="${current == 'Comment'} ? 'text-decoration: underline;'">신고 댓글 관리</a></li>
      </ul>
    </nav>

<!-- 신고 초대장 관리 -->
    <div class="content" th:if="${current == 'Greet'}">
      <h2>신고 초대장 관리</h2>
      <table>
        <thead>
        <tr>
          <th>초대장 ID</th>
          <th>초대장 제목</th>
          <th>신고 사유</th>
          <th>유저 정보</th>
          <th> </th>
          <th> </th>
        </tr>
        </thead>
      <tbody>
        <tr th:each="report : ${greetReportPage.content}">
          <td th:text="${report.greetId}"></td>
          <td>
            <a th:href="@{${report.greetUrl}}" th:text="${report.greetTitle}" class="greet-link"/>
          </td>
          <td th:text="${report.reason}"></td>
          <td th:text="${report.userId}"></td>
          <td>
            <form th:action="@{/adminPage/updateGreet/{greetId}(greetId=${report.greetId})}" method="post">
              <button class="td-btn" type="submit">취소</button>
            </form>
          </td>
          <td>
            <form th:action="@{/adminPage/deleteGreet/{greetId}(greetId=${report.greetId})}" method="post">
              <input type="hidden" name="userId" th:value="${report.userId}" />
              <button class="td-btn" type="submit">삭제</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>

        <div class="pagination">
          <ul>
            <li th:if="${greetReportPage.hasPrevious()}">
              <a th:href="@{/adminPage/GreetReport(page=${greetReportPage.number - 1})}">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, greetReportPage.totalPages - 1)}" th:classappend="${i == greetReportPage.number} ? 'active'">
              <a th:href="@{/adminPage/GreetReport(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${greetReportPage.hasNext()}">
              <a th:href="@{/adminPage/GreetReport(page=${greetReportPage.number + 1})}">Next</a>
            </li>
          </ul>
        </div>
      </div>

<!--    신고 템플릿 관리-->
      <div class="content" th:if="${current == 'Template'}">
        <h2>신고 템플릿 관리</h2>
        <table>
          <thead>
          <tr>
            <th>템플릿 ID</th>
            <th>템플릿 제목</th>
            <th>신고 사유</th>
            <th>유저 정보</th>
            <th> </th>
            <th> </th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="report : ${templateReportPage.content}">
            <td th:text="${report.templateId}"></td>
            <td>
              <a th:href="@{${report.templateURL}}" th:text="${report.templateTitle}" class="greet-link"/>
            </td>
            <td th:text="${report.reason}"></td>
            <td th:text="${report.creatorId}"></td>
            <td>
              <form th:action="@{/adminPage/updateTemplate/{templateId}(templateId=${report.templateId})}" method="post">
                <button class="td-btn" type="submit">취소</button>
              </form>
            </td>
            <td>
              <form th:action="@{/adminPage/deleteTemplate/{templateId}(templateId=${report.templateId})}" method="post">
                <input type="hidden" name="userId" th:value="${report.creatorId}" />
                <button class="td-btn" type="submit">삭제</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="pagination">
          <ul>
            <li th:if="${templateReportPage.hasPrevious()}">
              <a th:href="@{/adminPage/TemplateReport(page=${templateReportPage.number - 1})}">Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, templateReportPage.totalPages - 1)}" th:classappend="${i == templateReportPage.number} ? 'active'">
              <a th:href="@{/adminPage/TemplateReport(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li th:if="${templateReportPage.hasNext()}">
              <a th:href="@{/adminPage/TemplateReport(page=${templateReportPage.number + 1})}">Next</a>
            </li>
          </ul>
        </div>
    </div>

    <!--    신고 댓글 관리-->
    <div class="content" th:if="${current == 'Comment'}">
      <h2>신고 댓글 관리</h2>
      <table>
        <thead>
        <tr>
          <th>초대장 ID</th>
          <th>초대장 제목</th>
          <th>댓글 내용</th>
          <th>신고 사유</th>
          <th> </th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${commentReportPage.content}">
          <td th:text="${report.greetId}"></td>
          <td>
            <a th:href="@{${report.greetUrl}}" th:text="${report.greetTitle}" class="greet-link"/>
          </td>
          <td th:text="${report.commentContent}"></td>
          <td th:text="${report.reportReason}"></td>
          <td>
            <form th:action="@{/adminPage/updateComment/{commentId}(commentId=${report.commentId})}" method="post">
              <button class="td-btn" type="submit">취소</button>
            </form>
          </td>
          <td>
            <form th:action="@{/adminPage/deleteComment/{commentId}(commentId=${report.commentId})}" method="post">
              <button class="td-btn" type="submit">삭제</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="pagination">
        <ul>
          <li th:if="${commentReportPage.hasPrevious()}">
            <a th:href="@{/adminPage/CommentReport(page=${commentReportPage.number - 1})}">Previous</a>
          </li>
          <li th:each="i : ${#numbers.sequence(0, commentReportPage.totalPages - 1)}" th:classappend="${i == commentReportPage.number} ? 'active'">
            <a th:href="@{/adminPage/CommentReport(page=${i})}" th:text="${i + 1}"></a>
          </li>
          <li th:if="${commentReportPage.hasNext()}">
            <a th:href="@{/adminPage/CommentReport(page=${commentReportPage.number + 1})}">Next</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</body>
</html>