<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="${title}">Greet</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3ed3db1fc1bdaf63dfdafb12b6475b3&libraries=services"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3ed3db1fc1bdaf63dfdafb12b6475b3&libraries=services"></script>
    <!--  jQuery  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/createGreet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/text.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>
<nav id="nav" class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline">
            <input type="text" class="form-control" id="title" th:value="${title}" placeholder="제목을 입력하세요">
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" id="undoButton">실행 취소하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="redoButton">되돌리기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="shareButton">공유하기</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link btn" id="saveButton">템플릿으로 게시하기</button>
            </li>
        </ul>
        </form>
    </div>
</nav>

<div id="toolbar" class="toolbar">
    <div class="toolbar-item">
        <label for="fillColor">Fill Color:</label>
        <input type="color" id="fillColor" name="fillColor"/>
    </div>
    <div class="toolbar-item">
        <label for="strokeColor">Stroke Color:</label>
        <input type="color" id="strokeColor" name="strokeColor"/>
    </div>
    <div class="toolbar-item">
        <label for="fontSize">Font Size:</label>
        <input type="number" id="fontSize" name="fontSize" min="1" max="100" value="16"/>
    </div>
    <div class="toolbar-item">
        <button id="boldButton"><strong>B</strong></button>
        <button id="italicButton"><em>I</em></button>
        <button id="underlineButton"><u>U</u></button>
    </div>
</div>

<div class="fixed-sidebar">
    <div id="categoryButtons">
        <div th:each="category : ${categories}">
            <div th:each="subtype : ${category.subtypes}">
                <button class="category-button"
                        th:data-subtype-id="${subtype.id}"
                        th:text="${subtype.name}">
                </button>
            </div>
        </div>
    </div>

</div>

<div class="sidebar-nav" id="sidebar">
    <button class="sidebar-close-btn" id="sidebarCloseBtn">&times;</button>
    <ul class="navbar-nav" id="sidebarContent"></ul>

    <div id="forbiddenFree" style="display: none">
        <div th:if="${#authorization.expression('hasAuthority(''FREE_USER'')')}">
            <br>
            <p> 해당 기능은 유료회원만 </p>
            <p> 이용 가능합니다. </p> <br>
        </div>
    </div>

    <!-- 지도 -->
    <div id="map-container" style="display: none">
        <div th:if="${#authorization.expression('hasAuthority(''PAID_USER'') or hasAuthority(''ADMIN'')')}" >
            <br>
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
            <input type="text" id="sample4_postcode" placeholder="우편번호" readonly onclick="sample4_execDaumPostcode()">
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소" readonly
                   onclick="sample4_execDaumPostcode()">
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소" readonly
                   onclick="sample4_execDaumPostcode()">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소">
            <input type="text" id="sample4_extraAddress" placeholder="참고항목">
            <input type="text" id="latitude" placeholder="위도" style="display: none;">
            <input type="text" id="longitude" placeholder="경도" style="display: none;">
        </div>
    </div>

    <!-- 댓글 -->
    <div id="comment-container" style="display: none">
        <label for="comment"> 댓글 허용 </label>
        <input type="checkbox" id="comment" class="commentCheckbox"/> </p>
    </div>

</div>

<div class="main-content">
    <div class="myCanvasContainer">
        <div class="myCanvas" id="myCanvas">
            <div id="container">
                <!-- SVG 컴포넌트들 -->
                <svg id="svgContainer" width="100%" height="100%">
                    <!-- SVG 요소들 추가 -->
                    <th:block th:each="component : ${svgComponents}">
                        <th:block th:utext="${component}"></th:block>
                    </th:block>
                </svg>

                <!-- 텍스트 컴포넌트들 -->
                <div id="textContainer">
                    <th:block th:each="component : ${containerComponents}">
                        <th:block th:utext="${component}"></th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/createGreet.js"></script>
<script src="/js/category.js"></script>
<script src="/js/textEditor.js"></script>
<script src="/js/shapeEditor.js"></script>
<script src="/js/imageEditor.js"></script>
<script src="/js/address.js"></script>
<script src="/js/capture.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
    $(document).ready(
        $('#shareButton').click(function() {
            if (confirm('초대장을 공유하시겠습니까?')) {
                temporarySave()
            }
        })
    )

    function temporarySave() {
        const MILLISECONDS_IN_A_DAY = 24 * 60 * 60 * 1000;
        const FREE_USER_GREET_EXPIRATION_TIME = 5 * MILLISECONDS_IN_A_DAY;

        $.ajax({
            url: '/greet/draft',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                title: $('#title').val(),
                expireDate: new Date($.now() + FREE_USER_GREET_EXPIRATION_TIME),
                allowComments: false
            }),
            success: function(data) {
                shareGreet(data)
            },
            error: function(error) {
                alert(`데이터 저장 실패. ${JSON.stringify(error)}`)
            }
        })
    }

    function shareGreet(data) {
        let date = new Date()
        date.setDate(date.getDate() + 3)

        $.ajax({
            url: '/greet/save',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                id: data.greetId,
                userId: data.userId,
                title: $('#title').val(),
                allowComments: false,
                expireDate: date.toISOString().slice(0, 19)
            }),
            success: function(data) {
                window.location.href = `http://localhost:8080${data.redirectUrl}`
            },
            error: function(error) {
                alert(`공유에 실패하였습니다. ${JSON.stringify(error)}`)
            }
        })
    }
</script>
</body>
</html>
