<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8" />
	<title>ImGreet</title>
	<link rel="stylesheet" th:href="@{/css/myPage.css}" />
</head>
<body>
<!-- Navigation -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- Main Content -->
<div class="container">
	<nav class="sidebar">
		<ul>
			<li><a th:href="@{/myPage/myProfile}" onclick="test()">나의 계정</a></li>
			<li><a th:href="@{/myPage/workSpace}" onclick="test()">워크스페이스</a></li>
		</ul>
	</nav>
	<div class="right-sidebar" th:if="${contentFragment.startsWith('myProfile')}">
		<div  th:replace="myProfile"></div>
	</div>
	<div class="right-sidebar" th:if="${contentFragment.startsWith('workSpace')}">
		<div  th:replace="workSpace"></div>
	</div>
<!--	<div id="content" th:replace="${contentFragment}"></div>-->
</div>
<script>
	// 타임리프 객체 출력하기
	function test() {
		const contentFragment = '[[${contentFragment}]]'
		console.log('fragment: ' + contentFragment)
	}
</script>
</body>
</html>
