<nav th:fragment="navbarFragment" class="navbar">
	<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
	<div class="navbar-left">
		<a th:href="@{/}" class="category-link">HOME</a>
		<a th:href="@{/about}" class="category-link">ABOUT</a>
		<a th:href="@{/service}" class="category-link">SERVICE</a>
		<!-- Empty for alignment -->
	</div>
	<div class="navbar-center">
		<a th:href="@{/}" href='https://ifh.cc/v-pgF3To' class="logo-link">
			<img src='https://ifh.cc/g/pgF3To.png' alt="ImGreet Logo" class="logo"/>
		</a>
	</div>
	<div class="navbar-right">
		<form th:if="${@rq.logout}" th:action="@{/login}" method="get" class="navbar-link" onclick="this.submit();">로그인</form>
		<form th:if="${@rq.login}" th:action="@{/logout}" method="post" class="navbar-link" onclick="this.submit();">로그아웃</form>
		<button class="hamburger-btn" onclick="toggleMenu()">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
			     style="width: 40px; height: 40px; color: rgb(22, 24, 29);">
				<path d="M3 5.75A.75.75 0 0 1 3.75 5h16.495a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 5.75ZM3 12a.75.75 0 0 1 .75-.75h16.495a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm.75 5.5a.75.75 0 0 0 0 1.5h16.495a.75.75 0 0 0 0-1.5H3.75Z">
				</path>
			</svg>
		</button>
	</div>
	<div class="dropdownContainer" id="dropdownContainer">
		<div class="dropdown-menu" id="dropdownMenu">
			<a th:href="@{/}">HOME</a>
			<a th:href="@{/about}">ABOUT</a>
			<a th:href="@{/service}">SERVICE</a>
			<a th:if="${@rq.logout}" th:href="@{/login}">로그인</a>
			<form th:if="${@rq.login}" th:action="@{/logout}" method="post" th:value="로그아웃" onclick="this.submit()"> </form>
		</div>
	</div>
	<script th:src="@{/js/navbar.js}"></script>
</nav>
<br class="br"/>
