<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8"/>
	<title>ImGreet</title>
	<!-- Assuming you have a CSS file -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- kakao 공유하기 api-->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"
	        integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</head>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<link rel="stylesheet" th:href="@{/css/share.css}"/>
<body>
<div class="shareContainer">
	<div class="shareContent">
		<div class="shareHeader">
			<div class="shareItems shareTag">
				<div class="shareTagBox">
					<div class="itemBox">
						<div class="tagItems">
							<span class="tagItem">초대장 공유</span>
						</div>
					</div>
					<div class="sc-kUNLVD bGKZUs"></div>
				</div>
			</div>
			<div></div>
			<div>
				<button class="closeBtn">
					<div class="closeBtn-icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"
						     style="width: 20px; height: 20px; color: rgb(112, 121, 143)">
							<path d="M19.784 5.28a.75.75 0 1 0-1.06-1.06l-6.722 6.721L5.28 4.22a.75.75 0 1 0-1.06 1.06l6.721 6.722-6.721 6.721a.75.75 0 0 0 1.06 1.061l6.722-6.721 6.721 6.721a.75.75 0 0 0 1.061-1.06l-6.721-6.722 6.721-6.722Z"></path>
						</svg>
					</div>
				</button>
			</div>
		</div>

		<div class="map">
			<div class="mapContainer">
				<h3>오시는 길</h3>
				<div id="map" style="width: 300px; height: 300px;"></div>
			</div>
		</div>
		<div class="linkShareContainer">
			<div class="linkShareContainer box">
				<div class="linkContainer">
					<div class="copyLinkContainer">
						<div class="linkBox">
							<div>
								<div id="link" class="link">
									<label style="width: 100%">
										<input id="linkInput" type="text" readonly="" class="linkInput"
										       value="http://192.168.210.94:8080/"/>
									</label>
								</div>
							</div>
						</div>
						<div class="copyBox">
							<button id="copyButton" data-name="mds_Button" aria-disabled="false" data-loading="false"
							        class="copyButton">
								<span class="copyButtonText">복사</span>
							</button>
						</div>
					</div>
					<div class="iconBox">
						<a class="icon kakao-icon" id="kakaoShareBtn">
							<img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
							     alt="카카오톡 공유">
						</a> &emsp;
						<a class="icon qr-icon" id="qrShareBtn">
							<img src="https://img.icons8.com/windows/32/qr-code.png" alt="QR"/>
						</a>
					</div>
				</div>

				<!-- QR 공유 화면 -->
				<div id="qrPopupOverlay"></div>
				<div id="qrPopup">
					<div id="shareQRContainer"></div>
					<div id="qrPopupClose">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
							<path d="M19.784 5.28a.75.75 0 1 0-1.06-1.06l-6.722 6.721L5.28 4.22a.75.75 0 1 0-1.06 1.06l6.721 6.722-6.721 6.721a.75.75 0 0 0 1.06 1.061l6.722-6.721 6.721 6.721a.75.75 0 0 0 1.061-1.06l-6.721-6.722 6.721-6.722Z"></path>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="commentSection">
			<div>
				<h3>댓글</h3>
			</div>
			<div class="commentDisplay">
				<!-- 댓글이 여기에 표시됩니다 -->
			</div>
			<hr class="underLine2"/>
			<div class="commentForm">
				<div>
					<h4>댓글 작성</h4>
				</div>
				<div class="inputGroup">
					<div class="inputComment">
						<label for="nickname">닉네임</label>
						<input type="text" id="nickname" name="nickname" required>
					</div>
					<div class="inputComment">
						<label for="password">비밀번호</label>
						<input type="password" id="password" name="password" required>
					</div>
				</div>
				<div class="inputGroup">

				</div>
				<div class="inputGroup">
					<label id="commentLabel" for="comment">댓글</label>
					<textarea id="comment" name="comment" rows="4" required></textarea>
				</div>
				<button type="button" id="submitComment">댓글 작성</button>
			</div>
		</div>
		<!-- 댓글 삭제 비밀번호 입력 폼 -->
		<div id="delete-password-overlay" style="display: none;">
			<div id="delete-password-form" class="report-form-container" style="display: none;">
				<h3>댓글 삭제</h3>
				<div class="delete-form-box">
					<label for="delete-password">비밀번호</label>
					<input type="password" id="delete-password" required>
				</div>
				<div class="delete-form-box">
					<button type="button" id="confirm-delete">확인</button>
					<button type="button" id="cancel-delete">취소</button>
				</div>
			</div>
		</div>


	</div>
	<div class="sc-faxByu gbyvYf">
		<div class="sc-EFWon jDsPln"></div>
	</div>
	<div class="underLine">
		<div class="underLine2"></div>
	</div>
</div>

<!-- 신고 폼 -->
<div id="report-form-overlay"></div>
<div class="report-form-container" id="report-form">
	<h3>신고하기</h3>
	<label for="report-reason">신고 사유:</label>
	<textarea id="report-reason" rows="4"></textarea>
	<button type="button" id="submit-report">제출</button>
	<button type="button" id="cancel-report">취소</button>
</div>

<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=721cac60463569317d82faa076edead4"></script>
<script src="/js/share.js"></script>
</body>
</html>
