<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8" />
	<title>ImGreet</title>
	<!-- Assuming you have a CSS file -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- kakao 공유하기 api-->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"
	integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
</head>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<link rel="stylesheet" th:href="@{/css/share.css}"/>
<body>
<div class="shareContainer">
	<div class="shareContent">
		<div class="shareHeader">
			<div></div>
			<div>
				<button class="closeBtn">
					<div class="closeBtn-icon">
						<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 24 24"
								style="width: 20px; height: 20px; color: rgb(112, 121, 143)"
						>
							<path
									d="M19.784 5.28a.75.75 0 1 0-1.06-1.06l-6.722 6.721L5.28 4.22a.75.75 0 1 0-1.06 1.06l6.721 6.722-6.721 6.721a.75.75 0 0 0 1.06 1.061l6.722-6.721 6.721 6.721a.75.75 0 0 0 1.061-1.06l-6.721-6.722 6.721-6.722Z"
							></path>
						</svg>
					</div>
				</button>
			</div>
		</div>
		<p class="shareItems intro">초대장 공유</p>
		<div class="shareItems shareTag">
			<div class="shareTagBox">
				<div class="itemBox">
					<div class="tagItems">
						<span class="tagItem">초대장 공유</span>
					</div>
				</div>
				<div class="sc-kUNLVD bGKZUs"></div>
			</div>
		</div>
		<div class="linkShareContainer">
			<div class="linkShareContainer box">
				<div class="linkContainer">
					<div class="copyLinkContainer">
						<div class="linkBox">
							<div>
								<div id="link" class="link">
									<label style="width: 100%">
										<input
												id="linkInput"
												type="text"
												readonly=""
												class="linkInput"
												value="http://192.168.210.94:8080/"
										/>
									</label>
								</div>
							</div>
						</div>
						<div class="copyBox">
							<button id="copyButton" data-name="mds_Button" aria-disabled="false" data-loading="false"
							        class="copyButton">
								<span class="copyButtonText">복사</span>
							</button>
						</div>
					</div>
					<div class="iconBox">
						<a class="icon kakao-icon" id="kakaoShareBtn">
							<img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png" alt="카카오톡 공유">
						</a>
						<button class="icon qr-icon" id="qrShareBtn">
							<img src="https://img.icons8.com/windows/32/qr-code.png" alt="QR"/></button>
					</div>
				</div>

				<!-- QR 공유 화면 -->
				<div id="qrPopupOverlay"></div>
					<div id="qrPopup">
						<div id="shareQRContainer"> </div>
						<div id="qrPopupClose">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
								<path d="M19.784 5.28a.75.75 0 1 0-1.06-1.06l-6.722 6.721L5.28 4.22a.75.75 0 1 0-1.06 1.06l6.721 6.722-6.721 6.721a.75.75 0 0 0 1.06 1.061l6.722-6.721 6.721 6.721a.75.75 0 0 0 1.061-1.06l-6.721-6.722 6.721-6.722Z"></path>
							</svg>
						</div>
				</div>

				<div class="detailOptionTextContainer">
					<div class="detailOptionTextBox">
						<div class="detailOptionTextLayout">
							<div class="detailOption">상세 옵션</div>
							<div id="detailButton" class="detailButton close">
								<svg
										xmlns="http://www.w3.org/2000/svg"
										fill="currentColor"
										viewBox="0 0 24 24"
										class="sc-ijMHkb jMACYa"
										style="width: 20px; height: 20px; color: rgb(67, 72, 86)"
								>
									<path
											d="M8.215 3.224a.785.785 0 0 0 0 1.08l7.238 7.517c.096.1.096.26 0 .36l-7.238 7.517a.785.785 0 0 0 0 1.08.716.716 0 0 0 1.04 0l7.238-7.516c.67-.697.67-1.825 0-2.522L9.256 3.224a.716.716 0 0 0-1.04 0Z"
									></path>
								</svg>
							</div>
						</div>
					</div>
					<div id="detailOptionContainer" class="detailOptionContainer hidden">
						<div class="detailOptionBox">
							<div class="detailOptionLayout">
								<div class="detailOptionContent">
									<div class="detailOptionContent-list">
										<div class="detailOptionContent-list-item">
											<span class="OptionText">좋아요/댓글 허용</span>
											<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													viewBox="0 0 24 24"
													style="width: 24px; height: 24px; color: rgb(245, 215, 10)"
											>
												<path
														d="M10.5 6.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5c0 .53-.273.994-.686 1.261l2.718 4.066a.5.5 0 0 0 .652.147l1.982-1.285A1.498 1.498 0 0 1 19.5 8.5c.83 0 1.5.67 1.5 1.5 0 .707-.487 1.299-1.144 1.458l-1.424 7.013c-.06.31-.31.529-.6.529H6.168c-.29 0-.54-.22-.6-.53l-1.424-7.012A1.498 1.498 0 0 1 3 10c0-.83.67-1.5 1.5-1.5a1.498 1.498 0 0 1 1.333 2.189l1.982 1.285a.5.5 0 0 0 .653-.147l2.718-4.066A1.497 1.497 0 0 1 10.5 6.5Z"
												></path>
											</svg>
										</div>
									</div>
									<label for="option1">
										<input type="checkbox" id="option1" class="detailOptionCheckbox"/>
									</label>
								</div>
								<div class="detailOptionContent">
									<div class="detailOptionContent-list">
										<div class="detailOptionContent-list-item">
											<span class="OptionText">공유 버튼</span>
											<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													viewBox="0 0 24 24"
													style="width: 24px; height: 24px; color: rgb(245, 215, 10)"
											>
												<path
														d="M10.5 6.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5c0 .53-.273.994-.686 1.261l2.718 4.066a.5.5 0 0 0 .652.147l1.982-1.285A1.498 1.498 0 0 1 19.5 8.5c.83 0 1.5.67 1.5 1.5 0 .707-.487 1.299-1.144 1.458l-1.424 7.013c-.06.31-.31.529-.6.529H6.168c-.29 0-.54-.22-.6-.53l-1.424-7.012A1.498 1.498 0 0 1 3 10c0-.83.67-1.5 1.5-1.5a1.498 1.498 0 0 1 1.333 2.189l1.982 1.285a.5.5 0 0 0 .653-.147l2.718-4.066A1.497 1.497 0 0 1 10.5 6.5Z"
												></path>
											</svg>
										</div>
									</div>
									<label for="option2">
										<input type="checkbox" id="option2" class="detailOptionCheckbox">
									</label>
								</div>
								<div class="detailOptionContent">
									<div class="detailOptionContent-list">
										<div class="detailOptionContent-list-item">
											<span class="OptionText">슬라이드쇼 보기</span>
											<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													viewBox="0 0 24 24"
													style="width: 24px; height: 24px; color: rgb(245, 215, 10)"
											>
												<path
														d="M10.5 6.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5c0 .53-.273.994-.686 1.261l2.718 4.066a.5.5 0 0 0 .652.147l1.982-1.285A1.498 1.498 0 0 1 19.5 8.5c.83 0 1.5.67 1.5 1.5 0 .707-.487 1.299-1.144 1.458l-1.424 7.013c-.06.31-.31.529-.6.529H6.168c-.29 0-.54-.22-.6-.53l-1.424-7.012A1.498 1.498 0 0 1 3 10c0-.83.67-1.5 1.5-1.5a1.498 1.498 0 0 1 1.333 2.189l1.982 1.285a.5.5 0 0 0 .653-.147l2.718-4.066A1.497 1.497 0 0 1 10.5 6.5Z"
												></path>
											</svg>
										</div>
									</div>
									<label for="option3"><input type="checkbox" id="option3"
									                            class="detailOptionCheckbox"></label>
								</div>
								<div class="detailOptionContent">
									<div class="detailOptionContent-list">
										<div class="detailOptionContent-list-item">
										<span
												class="OptionText">원본 문서 복제 허용</span>
											<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="currentColor"
													viewBox="0 0 24 24"
													style="width: 24px; height: 24px; color: rgb(245, 215, 10)"
											>
												<path
														d="M10.5 6.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5c0 .53-.273.994-.686 1.261l2.718 4.066a.5.5 0 0 0 .652.147l1.982-1.285A1.498 1.498 0 0 1 19.5 8.5c.83 0 1.5.67 1.5 1.5 0 .707-.487 1.299-1.144 1.458l-1.424 7.013c-.06.31-.31.529-.6.529H6.168c-.29 0-.54-.22-.6-.53l-1.424-7.012A1.498 1.498 0 0 1 3 10c0-.83.67-1.5 1.5-1.5a1.498 1.498 0 0 1 1.333 2.189l1.982 1.285a.5.5 0 0 0 .653-.147l2.718-4.066A1.497 1.497 0 0 1 10.5 6.5Z"
												></path>
											</svg>
										</div>
									</div>
									<label for="option4">
										<input type="checkbox" id="option4" class="detailOptionCheckbox">
									</label>
								</div>
								<div class="sc-bZHSRq hXvTqV">
									<div class="sc-ilxebA dwyWVc">
										<div class="sc-kMzELR jPhSCy"></div>
										<div class="sc-jIBlqr eUMQHV"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sc-faxByu gbyvYf">
				<div class="sc-EFWon jDsPln"></div>
			</div>
			<div class="underLine">
				<div class="underLine2"></div>
			</div>
		</div>
	</div>
</div>
</body>
<!--초대장 Title 변수 -->
<script th:inline="javascript">
	// const title = [[${title}]];		// 값이 생기는 경우 주석 해제 후 사용
	// const image = [[${image}]];
	const title = '초대해요~';
	const image = 'https://ifh.cc/g/Z2o5s6.jpg';
</script>
<script th:src="@{/js/shareKakao.js}"></script>
<script th:src="@{/js/shareUrlQr.js}"></script>
<script th:src="@{/js/share.js}" ></script>

</html>
