<div class="main" th:fragment="contentFragment">
	<link rel="stylesheet" th:href="@{/css/workSpace.css}"/>
	<!-- Your template designs go here -->
	<div class="content-intro">
		<h2>내 템플릿</h2>
	</div>
	<div class="templates-section">
		<!-- Your template designs go here -->
		<div class="template">
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 1</h3>
				<p>만든 템플릿 이다</p>
				<a th:href="@{/template/1}" class="btn">템플릿 보기 >></a>
			</div>
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 2</h3>
				<p>반갑고반갑고</p>
				<a th:href="@{/template/2}" class="btn">템플릿 보기 >></a>
			</div>
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 3</h3>
				<p>안녕 클레오 파트라</p>
				<a th:href="@{/template/3}" class="btn">템플릿 보기 >></a>
			</div>
		</div>
	</div>
<!--구분 선-->
	<!-- 구분선 -->
	<hr class="divider" />
	<div class="content-intro">
		<h2>즐겨찾기</h2>
	</div>
	<div class="templates-section">
		<!-- Your template designs go here -->
		<div class="template">
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 1</h3>
				<p>만든 템플릿 이다</p>
				<a th:href="@{/template/1}" class="btn">템플릿 보기 >></a>
			</div>
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 2</h3>
				<p>반갑고반갑고</p>
				<a th:href="@{/template/2}" class="btn">템플릿 보기 >></a>
			</div>
			<div class="template-item">
				<div>
					<a href="#"> <img src="https://via.placeholder.com/300x200" alt="Template 1"/></a>
				</div>
				<!-- Placeholder image -->
				<h3>템플릿 3</h3>
				<p>안녕 클레오 파트라</p>
				<a th:href="@{/template/3}" class="btn">템플릿 보기 >></a>
			</div>
		</div>
	</div>
</div>